<script type="text/ejs" id="script-face">

  <div id="container-face">
    <div id="content">
      <video id="videoel" width="400" height="300" preload="auto" loop></video>
      <canvas id="overlay" width="400" height="300" hidden></canvas>
    </div>
    <h3 id="mouth-info"></h3>
  </div>
</script>
