<script type="text/ejs" id="script">

<!-- start row -->

    <div class="row">
      <!-- start speech recog section -->
      <div id="container-speech" class="col-md-6">
        <div id="info">
          <p id="info_start">
            Click on START button and begin speaking.
          </p>
          <p id="info_speak_now" style="display:none">
            Speak now.
          </p>
          <p id="info_no_speech" style="display:none">
            No speech was detected. You may need to adjust your <a href=
            "//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">microphone
            settings</a>.
          </p>
          <p id="info_no_microphone" style="display:none">
            No microphone was found. Ensure that a microphone is installed and that
            <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
            microphone settings</a> are configured correctly.
          </p>
          <p id="info_allow" style="display:none">
            Click the "Allow" button above to enable your microphone.
          </p>
          <p id="info_denied" style="display:none">
            Permission to use microphone was denied.
          </p>
          <p id="info_blocked" style="display:none">
            Permission to use microphone is blocked. To change, go to
            chrome://settings/contentExceptions#media-stream
          </p>
          <p id="info_upgrade" style="display:none">
            Web Speech API is not supported by this browser. Upgrade to <a href=
            "//www.google.com/chrome">Chrome</a> version 25 or later.
          </p>
        </div>

        <div id="results">
          <p class="final" id="final_span"></p> <p class="interim" id="interim_span"></p>
        </div>
        <div id="buttons">
          <button id="start_button" disabled="true">wait, loading video</button>
          <button id="stop_button" disabled="true">wait, loading video</button>
        </div>
        <div id="tooltip-results">
        </div>
      </div>
      <!-- start face recog section -->
      <div id="container-face" class="col-md-6">
	  	  <div id="content">
			    <video id="videoel" width="400" height="300" preload="auto" loop></video>
			    <canvas id="overlay" width="400" height="300"></canvas>
		    </div>
        <h3 id="mouth-info"></h3>
      </div>
    </div>
    <!-- finish row -->
    <div id="text">
      <p>This is a script writer using speech recognition api <em>Google Cloud Speech API</em> and face tracking library <em>clmtrackr</em>.
      <p>Note that this page only works in Google Chrome, with a computer that supports WebGL and floating point textures.</p>
      <div id="gum" class="gum">
        <p>To try it out: (1) allow the page to use your webcamera (2) make sure that your face is clearly visible in the video, and click start (3) see the model fitted to your face</p>
      </div>
      <div id="nogum" class="nogum">
        <p>There was some problem trying to capture your webcamera, please check that your browser supports WebRTC. Using a fallback video instead.
      </p>
    </div>
</script>
