<!DOCTYPE HYML>
<html lang="en">
	<head>
		<title>Face tracker</title>
		<meta charset="utf-8">
		<link href="../static/styles/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link type="text/css" rel="stylesheet" href="../static/styles/demo.css">
	</head>
	<body>
    <script src="../static/js/b4_demo.js"></script>
		<script src="../static/js/utils.js"></script>
		<script src="../static/js/numeric-1.2.6.min.js"></script>
		<script src="../static/js/mosse.js"></script>
		<script src="../static/js/jsfeat-min.js"></script>
		<script src="../static/js/frontalface.js"></script>
		<script src="../static/js/jsfeat_detect.js"></script>
		<script src="../static/js/left_eye_filter.js"></script>
		<script src="../static/js/right_eye_filter.js"></script>
		<script src="../static/js/nose_filter.js"></script>
		<script src="../static/models/model_pca_20_svm.js"></script>
		<script src="../static/js/clm.js"></script>
		<script src="../static/js/svmfilter_webgl.js"></script>
		<script src="../static/js/svmfilter_fft.js"></script>
		<script src="../static/js/mossefilter.js"></script>
		<script src="../static/js/Stats.js"></script>
    <div id="content">
			<h2>Facetracking example</h2>
			<div id="container">
				<video id="videoel" width="400" height="300" preload="auto" loop></video>
				<canvas id="overlay" width="400" height="300"></canvas>
			</div>
			<br/>
			<input class="btn" type="button" value="wait, loading video" disabled="true" id="startbutton"></input>
      <input class="btn" type="button" value="wait, loading video" disabled="ture" id="stopbutton"></input>
      <div id="positions-container">
        <p id="positions"></p>
      </div>
      <div id="text">
				<p>This is an example of face tracking using the javascript library <a href="https://github.com/auduno/clmtrackr"><em>clmtrackr</em></a>. The fitting method is generally called "Non-rigid/deformable face tracking/alignment using constrained local models".</p>
				<p>Note that this example works best in Google Chrome, with a computer that supports WebGL and floating point textures. It should however work in any modern browser.</p>
				<div id="gum" class="gum">
					<p>To try it out:
						<ol>
							<li>allow the page to use your webcamera</li>
							<li>make sure that your face is clearly visible in the video, and click start</li>
							<li>see the model fitted to your face</li>
						<ol>
					</p>
				</div>
				<div id="nogum" class="nogum">
					<p>
						There was some problem trying to capture your webcamera, please check that your browser supports WebRTC. Using a fallback video instead. To try it out:
						<ol>
							<li>click start</li>
							<li>see the model fitted to the face</li>
						</ol>
					</p>
				</div>
			</div>
		</div>
    <script src="../static/js/demo.js"></script>
	</body>
</html>
