<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>hifive Hello World</title>
    <link type="text/css" rel="stylesheet" href="../static/lib/h5/h5.css">
  </head>
  <body>

    <div id="container">
      <input type="button" id="btn" value="hello world!" />
      <div class="parent">
        <a class="target" href="#">LINK</a>
      </div>
    </div>


    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../static/lib/h5/ejs-h5mod.js"></script>
    <script src="../static/lib/h5/h5.js"></script>
    <script src="../static/js/logic.js"></script>
    <script src="../static/js/controller.js"></script>
  </body>
</html>
