#main{
  text-align: center;
}
#info {
  font-size: 20px;
}
#headline {
  text-decoration: none
}
#results {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #ddd;
  padding: 15px;
  text-align: left;
  min-height: 150px;
}
.interim {
  color: gray;
}
.final {
  color: black;
  padding-right: 3px;
}
#buttons {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#buttons button{
  width: 100px;
  height: 50px;
}


