<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">

    <!-- Import a dependent file -->
    <script src="public/lib/jquery/jquery-3.2.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <!-- Import a hifive framework -->
    <link type="text/css" rel="stylesheet" href="public/lib/h5/h5.css">
    <script src="public/lib/h5/ejs-h5mod.js"></script>
    <script src="public/lib/h5/h5.dev.js"></script>

    <!-- Import reveal.js fremework -->
    <link rel="stylesheet" href="public/lib/reveal/css/reveal.css">
    <link rel="stylesheet" href="public/lib/reveal/css/theme/simple.css">
    <script src="public/lib/reveal/lib/js/head.min.js"></script>
    <script src="public/lib/reveal/js/reveal.js"></script>

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="public/lib/reveal/lib/css/zenburn.css">

    <script src="public/javascripts/config.js"></script>

    <script src="public/javascripts/model/QuestionDataModel.js"></script>
    <script src="public/javascripts/logic/QuestionListLogic.js"></script>

    <script src="public/javascripts/controller/QuestionListController.js"></script>
    <script src="public/javascripts/controller/PresentationController.js"></script>
    <script src="public/javascripts/controller/PageController.js"></script>
    <script>
      $(function() {
        h5.core.controller('body', hipa.controller.PageController);
      });
    </script>
  </head>
  <body>
    <div id="container">
      <div id="question_list_container">
        <div id="question_list">
        </div>
        <div id="question_form_container">
        </div>
      </div>
    </div>
    <div style="width:100%;height:90%">
        <div class="reveal">
            <div class="slides">
            </div>
        </div>
    </div>
  </body>
</html>